Source: xword
Section: user/games
Priority: optional
Maintainer: Bradley Bell <bradleyb@u.washington.edu>
Build-Depends: debhelper (>= 4)
Standards-Version: 3.7.2

Package: xword
Architecture: all
Depends: python2.5, python2.5-gtk2, python2.5-hildon, python2.5-osso, maemo-select-menu-location
Description: Reads and writes crossword puzzles in the Across Lite file format
 Xword is a GTK program that works well for doing crossword puzzles in the
 Across Lite file format used by The New York Times and others. As well as a
 clock, it supports printing. It also auto-saves puzzles as you solve them so
 that you can return to partially completed puzzles.
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAIAAAAmKNuZAAAACXBIWXMAAA7DAAAO
 wwHHb6hkAAAAj0lEQVR4nO1VQQqAMAxz0P9/eSKTEtJ1XXUeFHNq1zRkQZlsSyEh
 o9aqdSnlrlwKb5cL8wrkKPtxm3aXwmo5NG9B03F7yGEcre6e4H5rkaNT0X0vdave
 NvFcmWJnM/D4Yu9IfrvfnedAPP+0iZeyipqmEAMLakPa6c7a0fpjf8XjcpTIuI3l
 CP9bcV0u9Vbs7/SiQpfs4tMAAAAASUVORK5CYII=
