Source: xword
Section: games
Priority: optional
Maintainer: John Sullivan <john@wjsullivan.net>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: xword
Architecture: all
Depends: python, python-gtk2
Suggests: python-gnome2-desktop
Description: Reads and writes crossword puzzles in the Across Lite file format
 Xword is a GTK program that works well for doing crossword puzzles in the
 Across Lite file format used by The New York Times and others. As well as a
 clock, it supports printing. It also auto-saves puzzles as you solve them so
 that you can return to partially completed puzzles.
